/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(/img/crossword.png) repeat 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quattrocento', Georgia, Times, serif;
    font-weight:700;
    color:#999;
}

a {
    color:#554D7D;
    font-weight:500;
}

p, div {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight:400;
    color:#444;    
}

/* Customize first page */
.title {
    font-size:3em;
    font-weight:400;
    font-family: 'Quattrocento', Georgia, Times, serif;
    color:#554D7D;
    text-align:center;
    text-transform: uppercase;
    letter-spacing:2px;
}

.subtitle {
    color:#554D7D;
}

/* Make sure abstract does not disply by default*/
.abstract{
    display:none;
}

/* Custom page footer */
.header,
.footer {
    text-align: center;
}

.footer {
    padding-top: 19px;
    border-top: 1px solid #554D7D;
}

.header,
.footer p {
    margin: 0.1em 0;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight:400;
    letter-spacing:1px;
    font-size:10px;
    color: #554D7D;
}

.footer a:link, .footer a:visited {
  color: #554D7D;
}

.contact-title {
    border-top: 1px solid #554D7D;
    border-bottom: 1px solid #554D7D;
    text-transform: uppercase;
    text-align:center;
    margin-bottom:10px;
    padding-top:5px;
    padding-bottom:5px;
    letter-spacing:1px;
}

.fa-ul li {
    margin-bottom:5px;
}


/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
    /* increase header size and padding */
    .title {
	font-size:5em;
	letter-spacing:5px;
	margin-bottom:-15px;
    }
    .img-responsive {
	margin-bottom:20px;
	padding:0px;
    }
    .contact-title {
	font-size:.9em;
    }
    .contact {
	/* border-bottom: 1px solid #554D7D; */
	font-size:.9em;
        margin-bottom: 3em;
    }
    .header,
    .footer p {
	font-size:12px;
    }
    .news > img {
	width:128px;
    }
    .media-list {
	padding-bottom:5px;
    }
    .media {
	padding-top:10px;
    }
    .container {
	width: 750px;
    }
}

/* Slightly better-looking header on mobile. */
@media screen and (max-width: 767px) {
  .nav-pills {
      display: block;
      margin: 0 auto 1em;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* .table > thead > tr > th, */
/* .table > tbody > tr > th, */
/* .table > tfoot > tr > th, */
/* .table > thead > tr > td, */
/* .table > tbody > tr > td, */
/* .table > tfoot > tr > td { */
/*   padding: 8px; */
/*   line-height: 1.42857143; */
/*   vertical-align: top; */
/*   border-top: 1px solid #ddd; */
/* } */

.nav {
  list-style: none;
  border-top: 1px solid #554D7D;  
  border-bottom: 1px solid #554D7D;  
  letter-spacing:1px;
  font-weight:500;
  text-transform: uppercase;  
}
.nav-pills > li > a {
  border-radius: 0px;
  color:#554D7D;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size:12px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    font-weight:500;
    background-color:transparent;
    color:#554D7D;
}

/* Front page news. */
.date {
    color: #999;
    font-weight: bold;
    display: block;
}

