/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(/img/greyzz.png) repeat 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', Georgia, Times, serif;
    color:#888;
}
p, div {
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

a {
color:##70608F;
}

/* Make sure abstract does not disply by default*/
.abstract{
    display:none;
}

/* customize wells */
.well{
    background-color:#e6e6e6;
    border: 0px solid #888;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/* .header { */
/*   border-bottom: 1px solid #ddd; */
/*   border-top: 1px solid #ddd; */
/* } */
/* Custom page header */
.header > h1 {
    font-size:5em;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #444;
  border-top: 1px solid #70608F;
  text-align: center;
  font-size: 0.8em;
}
.footer p {
  margin: 0.1em 0;
}
.footer a:link, .footer a:visited {
  color: #444;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Customize tabs */
/* .tabWrapper > div { */
/*     border: 1px solid #ddd; */
/*     background: #fff; */
/*     border-radius: 0 0 4px 4px; */
/*     margin-top: -1px; */
/*     border-top:transparent; */
/* } */
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #70608F;
  border-top: 1px solid #70608F;
}
.nav-pills > li > a {
  border-radius: 0px;
  color:#70608F;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #70608F;
}

/* custom button */
/* .btn-default { */
/*   color:#888; */
/*   font-weight:bold; */
/*   background-color:#fff; */
/*   border-color:#888; */
/* } */

/* Jumbotron */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron p {
    font-size: 15px;
}
.jumbotron {
    padding-top: 18px;
    padding-bottom: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Slightly better-looking header on mobile. */
@media screen and (max-width: 767px) {
    .nav-pills {
        display: block;
        margin: 0 auto 1em;
    }
    #logo {
        display: block;
        clear: both;
        margin: 1em auto;
    }
}

/* Photo */
.inset-image {
    width: 25%;
    margin: 0em auto;
}

/* People list */
dl.people dd {
    margin-bottom: 1em;
}

/* Front page news. */
ul.news .date {
    color: #999;
    font-weight: bold;
    display: block;
}
ul.news > li {
    margin-top: 1em;
}
ul.news .shortnews .date {
    float: left;
    margin-right: 1em;
}
ul.news .bloglink a {
    font-size: 1.4em;
}

.illustration {
    float: right;
    margin: 0 0 1em 1em;
}
