---
layout: default
title: Home
notitle: true
---

<div class="clearfix headline">
  <div class="col-sm-4">
    <img src="{{ site.base }}/img/me-cropped.jpg" alt="Photo of Me"
         class="img-responsive">
  </div>
  <div class="col-sm-8"  style="padding-top:6px;">
      I am a second-year PhD student in the
      <a href="http://cs.washington.edu">Computer Science and
        Engineering</a> department at
      the <a href="http://washington.edu">University of Washington</a>.
  </div>
</div>

<p>
I work
with <a href="http://www.cs.washington.edu/people/faculty/levy/">Hank
Levy</a>
and <a href="http://www.cs.washington.edu/people/faculty/arvind">Arvind
Krishnamurthy</a> in
the <a href="https://www.cs.washington.edu/research/systems/">Systems
and Networking Lab</a>.  My current research focuses on systems for
large-scale, distributed applications. I am working on several
projects in this area, including a new protocol to provide
high-performance transactions in distributed storage systems, and a
flexible, distributed programming platform for mobile/cloud
applications.
</p>

<p>
  Before starting my PhD, I worked for three years
  at <a href="http://www.vmware.com/">VMware</a> in the virtual
  machine monitor group on VM checkpointing, memory management and
  page sharing. I received my B.S. in computer science
  from <a href="http://www.mit.edu">MIT</a> in 2008 and my M. Eng. in
  2009. My master's thesis was advised by
  <a href="http://pdos.csail.mit.edu/~strib/">Jeremy
	Stribling</a>, <a href="http://pdos.csail.mit.edu/rtm/">Robert
	Morris</a> and
  <a href="http://pdos.csail.mit.edu/~kaashoek/">Frans
	Kaashoek</a>.</p>

<p>
  I was born in <a href="http://www.ebeijing.gov.cn/">Beijing,
	China</a> and spent most of my time growing up
  in <a href="http://en.wikipedia.org/wiki/Columbus,_Indiana">Columbus,
	Indiana</a>. <a href="http://www.drkp.net">My husband</a>
  and I like to cook, travel and occasionally do computer
  science together.
</p>

<!-- <h4>News & Happenings</h4> -->
<!-- <ul class="news list-unstyled"> -->
<!--   {% for post in site.posts limit: site.front_page_news %} -->
<!--   {% if post.shortnews %} -->
<!--   <li class="shortnews"> -->
<!--     <span class="date">{{ post.date | date_to_long_string }}</span> -->
<!--     {{ post.content }} -->
<!--   </li> -->
<!--   {% else %} -->
<!--   <li class="bloglink"> -->
<!--     <span class="date">{{ post.date | date_to_long_string }}</span> -->
<!--     <a href="{{ post.url }}">&raquo; {{ post.title }}</a> -->
<!--   </li> -->
<!--   {% endif %} -->
<!--   {% endfor %} -->
<!-- </ul> -->
<!-- <p><a href="{{ site.base }}/news/">Older posts&hellip;</a></p> -->
