<table class="table">
<tbody>
	{%- for entry in entries %}
	<tr>
		<td>
			<span class="date">
				<big><strong>{{ entry.fields['year'] }} </strong></big><br />
				{{ entry.fields['month']|monthname }}   
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
			    <b>{{ entry|title }}.</b>
			</span><br />
			<span class="authors">
				{{ entry.persons['author']|author_list }}.
			</span><br />
			<span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span>.
			{%- if entry.fields['note'] %}
			<span class="note">
			<b>{{ entry.fields['note']|escape }}.</b>
			</span>
			{%- endif %}
			<br />
			<span class="links btn-group">
				{%- if entry.fields['abstract'] %}
				<a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
                                   href="javascript:void(0);" onclick="$('#abstract_{{entry.fields['key']}}').slideToggle('fast');return false;">
                                  <i class="fa fa-chevron-down"></i> abstract</a>
				{%- endif %}
                                {%- set url = entry|main_url %}
				{%- if url %}
				<a class="btn btn-default btn-xs" href="{{ url|escape }}">
                                  <i class="fa fa-file-pdf-o"></i> pdf</a>
                                {%- endif %}
			        {%- set talk = entry.fields['talk'] %}
                                {%- if talk %}
				<a class="btn btn-default btn-xs" href="{{ talk|escape }}">
                                  <i class="fa fa-film"></i> talk</a>
                                {%- endif %}
                                {%- set code = entry.fields['code'] %}
                                {%- if code %}
				<a class="btn btn-default btn-xs" href="{{ code|escape }}">
                                  <i class="fa fa-code"></i> code</a>
                                {%- endif %}
			        {%- for type, url in (entry|extra_urls).iteritems() %}
				<a class="btn btn-default btn-xs" href="{{ url|escape }}">
                                  <i class="fa fa-chevron-right"></i> {{ type|escape }}</a>
			        {%- endfor %}
			</span>
			{%- if entry.fields['abstract'] %}
			<div id="abstract_{{entry.fields['key']}}" class="abstract well">
			  {{ entry.fields['abstract'] |escape }}
			</div>
			{%- endif %}
		</td>
	</tr>
	{%- endfor %}
</tbody>
</table>
