<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ site.title }} | {{ page.title }}</title>

  <link href="{{ site.baseurl }}/css/milo.css" rel="stylesheet">

   <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setCookieDomain", "*.irenezhang.net"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
          var u="//www.ambulatoryclam.net/p/";
          _paq.push(['setTrackerUrl', u+'p.php']);
          _paq.push(['setSiteId', '2']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'p.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//www.ambulatoryclam.net/p/p.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
      <!-- End Matomo Code -->

     <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/f08ee12e29.js" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
</head>
