<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">Principal Researcher<br>Microsoft Research</p>
      
    </div>

    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort: "title" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    <p class="lead">Contact</p>
    
    <ul class="fa-ul">
  <li><i class="fa-li fa fa-envelope"></i>irene.zhang
    @microsoft.com</li>
  <li><i class="fa-li fa fa-building"></i>Building 99</li>
  <li><i class="fa-li fa fa-location-arrow"></i>14820 NE
    36th St.
    <br class="hidden-xs"> Redmond, WA 98052</li>
  <li><i class="fa-li fa
	        fa-github-alt"></i><a href="https://github.com/iyzhang/">iyzhang@github</a></li>
  <li><i class="fa-li fa-brands fa-mastodon"></i><a href="https://discuss.systems/@irene">irene@discuss.systems</a></li>
</ul>

  </div>
</div>
