---
---


<style>
.btn{
    margin-bottom:5px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:15px;
    padding-right:15px;
    height:20px
}

pre{
    white-space: pre-wrap;  
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap; 
    word-wrap: break-word; 
    width:100%; overflow-x:auto;
}
</style>


<div class="text-justify">{{reference}}</div>

<!-- You can use the below to make your name bold -->
<!-- {{reference | replace_first: 'Bryngelson, S. H.', '<b>Bryngelson, S. H.</b>' | replace_first: 'Bryngelson, S.', '<b>Bryngelson, S.</b>' }}</div> -->

<button type="button" class="btn btn-light btn-sm"
        onclick="toggleBibtex{{entry.key}}()">BIB</button>

{% if entry.abstract %}
<button type="button"  class="btn btn-sm btn-light" onclick="toggleAbstract{{entry.key}}()">ABSTRACT</button>
{% endif %}

{% if entry.link %}
<a href="{{ entry.link }}" class="btn btn-sm btn-light">PDF</a>
{% endif %}

{% if entry.code %}
<a href="{{ entry.code }}" class="btn btn-sm btn-light">CODE</a>
{% endif %}

{% if entry.talk %}
<a href="{{ entry.talk }}" class="btn btn-sm btn-light">TALK</a>
{% endif %}

{% assign bibtext = entry.bibtex %}
{% if entry.link %}
   {% assign bibtext = bibtext | remove "entry.link" %}
{% endif %}


{% if entry.abstract %}
<div id="a{{entry.key}}" style="display: none; background-color:gray; border-radius:1px; padding:1px">
<pre>{{ bibtext | remove: "entry.abstract" }}</pre>
</div>
{% else %}
<div id="a{{entry.key}}" style="display: none; background-color:gray; border-radius:1px; padding:1px">
<pre>{{ bibtext }}</pre>
</div>
{% endif %}

<div id="b{{entry.key}}" style="display: none; background-color:white; border-radius:1px; padding:1px">
  <div class="card-body"><p class="card-text">{{entry.abstract}}</p></div>
</div>

<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function toggleAbstract{{entry.key}}(parameter) {
    var x= document.getElementById('b{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
